### 제주도 교통량 예측문제

날시 및 유동인구에 따른 교통량 추이  

[코드예시](https://www.datamanim.com/dataset/03_dataq/q2/jeju/main.html)

In [4]:
import pandas as pd
import numpy as np

# 데이터 로드
X = pd.read_csv("https://raw.githubusercontent.com/Datamanim/jeju/main/Jeju_trainX.csv",encoding='euc-kr')
y= pd.read_csv("https://raw.githubusercontent.com/Datamanim/jeju/main/Jeju_trainy.csv",encoding='euc-kr')
test_X= pd.read_csv("https://raw.githubusercontent.com/Datamanim/jeju/main/Jeju_testX.csv",encoding='euc-kr')
sub= pd.read_csv("https://raw.githubusercontent.com/Datamanim/jeju/main/subExample.csv",encoding='euc-kr')

print(X.shape, y.shape, test_X.shape, sub.shape)

X.head(3)

(22448, 13) (22448, 2) (9621, 13) (9621, 2)

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
0,0,2018-01-01,서귀포시,남원읍,291408.897,18744.131,219588.857,529741.884,53.000,40.571,2.35,0.0,3.325
1,1,2018-01-01,제주시,노형동,1215420.248,74964.858,445735.329,1736120.435,38.563,30.655,-2.30,0.0,1.100
2,2,2018-01-01,제주시,구좌읍,276220.023,17542.105,248104.122,541866.250,53.188,40.719,5.90,0.0,4.100

In [29]:
y.describe()

                 id           교통량
count  22448.000000  22448.000000
mean   11223.500000    374.652433
std     6480.323757    532.709650
min        0.000000      0.000000
25%     5611.750000      0.000000
50%    11223.500000     42.824500
75%    16835.250000    640.584500
max    22447.000000   2301.500000

In [5]:
# 결측치 확인하기
def checking_null(df_input):
    print('='*25)
    print(df_input.isnull().sum())

dataset = [X, y, test_X]

for ds in dataset:
    checking_null(ds)

=========================
id          0
일자          0
시도명         0
읍면동명        0
거주인구        0
근무인구        0
방문인구        0
총 유동인구      0
평균 속도       0
평균 소요 시간    0
평균 기온       0
일강수량        0
평균 풍속       0
dtype: int64
=========================
id     0
교통량    0
dtype: int64
=========================
id          0
일자          0
시도명         0
읍면동명        0
거주인구        0
근무인구        0
방문인구        0
총 유동인구      0
평균 속도       0
평균 소요 시간    0
평균 기온       0
일강수량        0
평균 풍속       0
dtype: int64

In [6]:
X.describe(include ='all')

,id,일자,시도명,읍면동명,거주인구,근무인구,방문인구,총 유동인구,평균 속도,평균 소요 시간,평균 기온,일강수량,평균 풍속
count,22448.000000,22448,22448,22448,2.244800e+04,22448.000000,22448.000000,2.244800e+04,22448.000000,22448.000000,22448.000000,22448.000000,22448.000000
unique,NaN,803,2,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,2019-08-15,제주시,천지동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,36,13455,562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,11223.500000,NaN,NaN,NaN,3.175557e+05,35805.028052,196133.748259,5.494945e+05,41.101625,37.221661,13.534623,7.401781,2.738243
std,6480.323757,NaN,NaN,NaN,2.981494e+05,40815.683983,140600.598737,4.611679e+05,8.708300,12.974543,7.749613,28.853829,1.468865
min,0.000000,NaN,NaN,NaN,1.032726e+04,1172.448000,10788.381000,2.228809e+04,23.545000,12.667000,-11.600000,0.000000,0.000000
25%,5611.750000,NaN,NaN,NaN,9.470432e+04,12221.819500,100005.044750,2.228364e+05,34.269000,27.889000,7.600000,0.000000,1.750000
50%,11223.500000,NaN,NaN,NaN,2.219279e+05,21765.337000,153158.832500,3.894584e+05,39.651500,34.500000,13.300000,0.000000,2.400000
75%,16835.250000,NaN,NaN,NaN,4.100979e+05,40316.875750,235928.067500,6.412934e+05,49.101250,46.191000,19.733000,1.500000,3.400000
max,22447.000000,NaN,NaN,NaN,1.353561e+06,272224.930000,786387.113000,2.079278e+06,95.000000,135.400000,30.400000,583.500000,17.700000

In [7]:
X['시도명'].value_counts()

제주시     13455
서귀포시     8993
Name: 시도명, dtype: int64

In [8]:
X['읍면동명'].value_counts()

천지동     562
화북동     562
대륜동     562
표선면     562
남원읍     562
이도2동    562
조천읍     562
삼양동     562
애월읍     562
아라동     562
안덕면     562
이호동     562
한림읍     562
도두동     562
송산동     562
대정읍     562
예래동     562
일도2동    561
정방동     561
서홍동     561
동홍동     561
일도1동    561
이도1동    561
구좌읍     561
효돈동     561
영천동     561
삼도2동    561
한경면     561
오라동     561
용담2동    561
용담1동    561
삼도1동    561
성산읍     561
외도동     561
중앙동     561
노형동     558
연동      558
중문동     556
건입동     555
봉개동     555
대천동      14
Name: 읍면동명, dtype: int64

In [9]:
X['시도명']

0        서귀포시
1         제주시
2         제주시
3         제주시
4         제주시
         ...
22443     제주시
22444     제주시
22445     제주시
22446    서귀포시
22447     제주시
Name: 시도명, Length: 22448, dtype: object

In [10]:
# 읍면동명을 라벨 인코딩
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

le.fit(X['읍면동명'])
X['읍면동명'] = le.transform(X['읍면동명'])
test_X['읍면동명'] = le.transform(test_X['읍면동명'])

X['시도명'] = X['시도명'].apply(lambda x : 1 if x == '서귀포시' else 0)
test_X['시도명'] = test_X['시도명'].apply(lambda x : 1 if x == '서귀포시' else 0)

In [11]:
X[['읍면동명', '시도명']].head()

   읍면동명  시도명
0     2    1
1     3    0
2     1    0
3    24    0
4     0    0

In [12]:
# 일자 컬럼에서 년, 월, 일 정보 추출
def preprosessing_datetime(df_input):
    df1 = df_input.copy()
    df1 ['일자'] = pd.to_datetime(df1 ['일자'])
    df1 ['year'] = df1 ['일자'].dt.year
    df1 ['month'] = df1 ['일자'].dt.month
    df1 ['weekend'] = df1 ['일자'].dt.weekday
    df1 .drop(['일자'], axis = 1, inplace = True)
    return df1

In [13]:
X = preprosessing_datetime(X)
test_X = preprosessing_datetime(test_X)

In [14]:
X['weekend'].value_counts()

2    3299
6    3263
4    3240
0    3228
5    3190
3    3119
1    3109
Name: weekend, dtype: int64

In [15]:
X.columns

Index(['id', '시도명', '읍면동명', '거주인구', '근무인구', '방문인구', '총 유동인구', '평균 속도',
       '평균 소요 시간', '평균 기온', '일강수량', '평균 풍속', 'year', 'month', 'weekend'],
      dtype='object')

In [16]:
# scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

def pre_sc(df_input, sc = None):
    df2 = df_input.copy()
    sc = StandardScaler()
    col = [ '거주인구', '근무인구', '방문인구', '총 유동인구']
    sc.fit(df2[col])
    df2[col] = sc.transform(df2[col])
    return df2

In [17]:
X_scaled =  pre_sc(X)
test_X_scaled = pre_sc(test_X)

In [18]:
X_scaled[[ '거주인구', '근무인구', '방문인구', '총 유동인구']].describe()

               거주인구          근무인구          방문인구        총 유동인구
count  2.244800e+04  2.244800e+04  2.244800e+04  2.244800e+04
mean   1.056908e-17  7.063032e-17 -5.763999e-17 -1.240395e-17
std    1.000022e+00  1.000022e+00  1.000022e+00  1.000022e+00
min   -1.030474e+00 -8.485305e-01 -1.318270e+00 -1.143224e+00
25%   -7.474654e-01 -5.778106e-01 -6.837158e-01 -7.083438e-01
50%   -3.207451e-01 -3.439855e-01 -3.056592e-01 -3.470311e-01
75%    3.103956e-01  1.105445e-01  2.830372e-01  1.990620e-01
max    3.474862e+00  5.792508e+00  4.198179e+00  3.317268e+00

In [19]:
X_scaled.drop(['id'], axis = 1, inplace = True)
test_X_scaled.drop(['id'], axis = 1, inplace = True)

y_train = y['교통량']

In [42]:
# test- val 분리
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X_scaled, y_train, test_size = 0.2, random_state = 123)

In [43]:
print(X_train.shape, X_val.shape, y_train.shape, y_val.shape)

(17958, 14) (4490, 14) (17958,) (4490,)

In [49]:
# 모델링
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
from sklearn.metrics import mean_squared_error, r2_score

dt = DecisionTreeRegressor()
rf = RandomForestRegressor(random_state = 24)
XGB = xgb.XGBRFRegressor()

models = [dt, rf]

def fit_model(model, trainX, trainY, testX, testY):
    model.fit(trainX, trainY)
    pred = model.predict(testX)
    print('{0}_rmse:{1:.4f}'.format(model, mean_squared_error(testY, pred, squared = False))) #True일때 mse
    print('{0}_r2:{1:.4f}'.format(model, r2_score(testY, pred)))

In [50]:
for model in models :
    fit_model(model, X_train, y_train, X_val, y_val)

DecisionTreeRegressor()_rmse:123.3967
DecisionTreeRegressor()_r2:0.9453
RandomForestRegressor(random_state=24)_rmse:82.7548
RandomForestRegressor(random_state=24)_r2:0.9754

R2가 0.94, 0.97로 엄청 높은 편이다....  
rmse가 82이면 분산이 500대인것에 비해 꽤 예측을 잘하는 것 같다

In [67]:
result = rf.predict(test_X_scaled)
result

array([1409.5883 , 1132.12894,  325.91998, ..., 1520.42006,    2.48477,
        388.34998])

In [55]:
sub['교통량'] =result

In [58]:
sub.to_csv('수험번호.csv', encoding = 'euc-kr')

In [70]:
y_true = pd.read_csv("https://raw.githubusercontent.com/Datamanim/jeju/main/Jeju_testy.csv",encoding='euc-kr')

print('mse:',mean_squared_error(y_true['교통량'], result, squared = False))
print('r2:',r2_score(y_true['교통량'], result))

mse: 84.92357633322638
r2: 0.9743992596079425

실제 값과 비교해보아도 rmse가 84, 결정계수가 0.97로 꽤 정확하게 예측했다!