## MySQL 연동하기
### 필요한 모듈을 설치한다.
 - pymysql 패키지를 설치한다.

In [2]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\admin\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

연동 순서
1. DB모듈 import하기
2. DB접속: 접속 객체 얻어옥
3. 쿼리작성
4. 쿼리 실행
5. 결과 값을 얻어오기
6. 접속 종료

In [73]:
import pymysql

#DB접속
conn= pymysql.connect(
    host='localhost',
    port=3306, #defalut 값
    user='pbl',
    password = 'pblpw',
    db='pbldb'
)

conn

In [18]:
#쿼리작성
sql = 'select * from member'

cursor = conn.cursor()
cursor.execute(sql)

7

In [7]:
# 실행한 결과 보기
for member in cursor:
    print(member)

(1, '123@abc.com', '1234', 'Lee', '200', datetime.datetime(2021, 4, 9, 14, 41, 22))
(2, 'abc@def.com', 'abc', None, None, datetime.datetime(2021, 4, 9, 15, 42, 42))
(3, 'hi@def.com', 'Park', None, None, datetime.datetime(2021, 4, 9, 15, 46, 54))
(5, 'ABC@def.com', '1234', 'Choi', '002', datetime.datetime(2021, 4, 9, 15, 49, 29))
(6, 'carami@nate.com', '1234', 'Kang', '200', datetime.datetime(2021, 4, 9, 18, 12, 31))
(7, 'ABC@def.com', '1234', 'Choi', '002', datetime.datetime(2021, 4, 9, 18, 13, 8))
(8, 'hong@nate.com', '5555', 'hong', '004', datetime.datetime(2021, 4, 12, 9, 31, 23))

In [21]:
# 모든 값을 가져옴
result = cursor.fetchall()
#하나의 값만 가져옴
result = cursor.fetchone()
#불러올 값을 지정가능
result = cursor.fetchmany(3)

result

(1,
 '123@abc.com',
 '1234',
 'Lee',
 '200',
 datetime.datetime(2021, 4, 9, 14, 41, 22))

In [52]:
dictCur = conn.cursor(pymysql.cursors.DictCursor)
dictCur.execute('select * from member')
dictResult = dictCur.fetchall()
dictResult

[{'member_id': 1,
  'email': '123@abc.com',
  'passwd': '1234',
  'name': 'Lee',
  'department_name': '200',
  'join_date': datetime.datetime(2021, 4, 9, 14, 41, 22)},
 {'member_id': 2,
  'email': 'abc@def.com',
  'passwd': 'abc',
  'name': None,
  'department_name': None,
  'join_date': datetime.datetime(2021, 4, 9, 15, 42, 42)},
 {'member_id': 3,
  'email': 'hi@def.com',
  'passwd': 'Park',
  'name': None,
  'department_name': None,
  'join_date': datetime.datetime(2021, 4, 9, 15, 46, 54)},
 {'member_id': 5,
  'email': 'ABC@def.com',
  'passwd': '1234',
  'name': 'Choi',
  'department_name': '002',
  'join_date': datetime.datetime(2021, 4, 9, 15, 49, 29)},
 {'member_id': 6,
  'email': 'carami@nate.com',
  'passwd': '1234',
  'name': 'Kang',
  'department_name': '200',
  'join_date': datetime.datetime(2021, 4, 9, 18, 12, 31)},
 {'member_id': 7,
  'email': 'ABC@def.com',
  'passwd': '1234',
  'name': 'Choi',
  'department_name': '002',
  'join_date': datetime.datetime(2021, 4, 9, 18, 13, 8)},
 {'member_id': 8,
  'email': 'hong@nate.com',
  'passwd': '5555',
  'name': 'hong',
  'department_name': '004',
  'join_date': datetime.datetime(2021, 4, 12, 9, 31, 23)}]

In [44]:
key = dictResult[0].keys()

In [45]:
type(key)

dict_keys

In [46]:
import pandas as pd

result = pd.DataFrame(dictResult)
result

   member_id            email passwd  name department_name           join_date
0          1      123@abc.com   1234   Lee             200 2021-04-09 14:41:22
1          2      abc@def.com    abc  None            None 2021-04-09 15:42:42
2          3       hi@def.com   Park  None            None 2021-04-09 15:46:54
3          5      ABC@def.com   1234  Choi             002 2021-04-09 15:49:29
4          6  carami@nate.com   1234  Kang             200 2021-04-09 18:12:31
5          7      ABC@def.com   1234  Choi             002 2021-04-09 18:13:08
6          8    hong@nate.com   5555  hong             004 2021-04-12 09:31:23

In [49]:
result.loc["k"]

   member_id            email passwd  name department_name           join_date
0          1      123@abc.com   1234   Lee             200 2021-04-09 14:41:22
1          2      abc@def.com    abc  None            None 2021-04-09 15:42:42
2          3       hi@def.com   Park  None            None 2021-04-09 15:46:54
3          5      ABC@def.com   1234  Choi             002 2021-04-09 15:49:29
4          6  carami@nate.com   1234  Kang             200 2021-04-09 18:12:31
5          7      ABC@def.com   1234  Choi             002 2021-04-09 18:13:08
6          8    hong@nate.com   5555  hong             004 2021-04-12 09:31:23

In [54]:
cursor.close()
DictCursor.close()
conn.close()

In [67]:
# 입력하기
query='''
insert member
values(null,'cho@nate.com','8745','cho','22',default)
'''

cur = conn.cursor()
cur.execute(query)
conn.commit()
cursor.close()
conn.close()

In [74]:
email = 'go@nate.com'
passwd ='8715'
name = 'go'

#%s받아오면 됨
query='''
insert member
values(null,%s,%s,%s,'22',default)
'''

cur = conn.cursor()
cur.execute(query,(email, passwd, name))
conn.commit()
cursor.close()
conn.close()