In [43]:
pip install datetime

Collecting datetime
  Downloading DateTime-4.3-py2.py3-none-any.whl (60 kB)
Requirement already satisfied: pytz in c:\users\admin\anaconda3\lib\site-packages (from datetime) (2020.1)
Requirement already satisfied: zope.interface in c:\users\admin\anaconda3\lib\site-packages (from datetime) (5.1.2)
Requirement already satisfied: setuptools in c:\users\admin\anaconda3\lib\site-packages (from zope.interface->datetime) (50.3.1.post20201107)
Installing collected packages: datetime
Successfully installed datetime-4.3
Note: you may need to restart the kernel to use updated packages.

In [44]:
import pymysql
import pandas as pd
from tabulate import tabulate
from datetime import datetime

In [2]:
def connect():
    import pymysql
    conn = pymysql.connect(host='localhost',user='root', password='root', db='project', port=3306, charset='utf8')
    cursor = conn.cursor(pymysql.cursors.DictCursor)

In [3]:
def close():
    cursor.close()
    conn.close()

In [23]:
def print_car_result(result): 
    print("\n-----------------------------------------------------------")
    cnames = ['car_id', 'car_type', 'car_name','price']
    for c in cnames:
        print(c.center(11,' '), end='\t')
    print("\n-----------------------------------------------------------")
    for r in result:
        for c in cnames:
            print(str(r[c]).center(9, ' '), end='\t')
        print()
    print("\n-----------------------------------------------------------")

def print_cus_info_result(result): 
    print("\n-------------------------------------------------------------------")
    bnames = ['cus_id', 'cus_name', 'gender', 'age']
    for c in bnames:
        print(c.center(11,' '), end='\t')
    print("\n-------------------------------------------------------------------")
    for r in result:
        for c in bnames:
            print(str(r[c]).center(11, ' '), end='\t')
        print()
    print("\n-------------------------------------------------------------------")

def print_price_result(result): 
    print("\n-------------------------------------------------------------------")
    inames = ['car_id','price']
    for c in inames:
        print(c.center(11,' '), end='\t')
    print("\n-------------------------------------------------------------------")
    for r in result:
        for c in inames:
            print(str(r[c]).center(11, ' '), end='\t')
        print()
    print("\n-------------------------------------------------------------------")

def print_reservation_result(result): 
    print("\n----------------------------------------------------------------------------")
    inames = ['car_id','cus_id','from_time','to_time']
    for c in inames:
        print(c.center(11,' '), end='\t')
    print("\n----------------------------------------------------------------------------")
    for r in result:
        for c in inames:
            print(str(r[c]).center(11, ' '), end='\t')
        print()
    print("\n----------------------------------------------------------------------------")

def print_timerate_result(result): 
    print("\n-------------------------------------------------------------------")
    inames = ['range_time','lohour','hihour','rate']
    for c in inames:
        print(c.center(11,' '), end='\t')
    print("\n-------------------------------------------------------------------")
    for r in result:
        for c in inames:
            print(str(r[c]).center(11, ' '), end='\t')
        print()
    print("\n-------------------------------------------------------------------")

In [24]:
# 테이블 확인하는 함수 view_table
# 매개변수: 테이블 명
def view_table(what):
    try:
        # sql에 db 연결
        conn = pymysql.connect(host='localhost',user='root', password='root', db='project', port=3306, charset='utf8')
        cursor = conn.cursor(pymysql.cursors.DictCursor)
        # 테이블에 접근하여 구문 실행하기
        if what == 'car':
            sql = 'select * from car'
            cursor.execute(sql)
            result = cursor.fetchall()
            print_car_result(result)
        elif what == 'cus_info':
            sql = 'select * from cus_info'
            cursor.execute(sql)
            result = cursor.fetchall()
            print_cus_info_result(result)
        elif what == 'reservation':
            sql = 'select * from reservation'
            cursor.execute(sql)
            result = cursor.fetchall()
            print_reservation_result(result)
        elif what == 'timerate':
            sql = 'select * from timerate'
            cursor.execute(sql)
            result = cursor.fetchall()
            print_timerate_result(result)
    except: #예외 처리
        print(what,'을 확인해주세요.')
        conn.rollback()
    else: # 실행하기
        conn.commit()
    finally: # 연결 종료
        cursor.close()
        conn.close()

In [25]:
view_table('car')

-----------------------------------------------------------
   car_id  	  car_type 	  car_name 	   price
-----------------------------------------------------------
    1    	  국산 소형  	    모닝   	  35360
    2    	  국산 소형  	   엑센트   	  36750
    3    	  국산 소형  	   티볼리   	  48600
    4    	  국산 중형  	   소나타   	  48120
    5    	  국산 중형  	    K5   	  48470
    6    	  국산 중형  	   말리부   	  48470
    7    	  국산 중형  	   SM6   	  48470
    8    	  국산 대형  	   그랜저   	  63210
    9    	  국산 대형  	    K7   	  63210
    10   	  국산 대형  	 제네시스 G80	  146890
    11   	   외제차   	    벤츠   	  91710
    12   	   외제차   	   포르쉐   	  236120
    13   	   외제차   	  람보르기니  	  317520

-----------------------------------------------------------

In [74]:
def insert(what):
    try:
        conn = pymysql.connect(host='localhost',user='root', password='root', db='project', port=3306, charset='utf8')
        cursor = conn.cursor(pymysql.cursors.DictCursor)
        if what == 'car':
            car_type = input("car type: ")
            car_name = input("car name: ")
            sql = "INSERT INTO car VALUES(null,'{}','{}')".format(car_type, car_name)
        elif what == 'cus_info':
            cus_name = input("cus name: ")
            gender = input("gender: ")
            age = input('age: ')
            sql = "INSERT INTO cus_info VALUES(null,'{}','{}','{}')".format(cus_name,gender,age)
        elif what == 'price':
            car_id = input('car_id: ')
            price = input("price: ")
            sql = "INSERT INTO price VALUES('{}','{}')".format(car_id,price)
        elif what == 'reservation':
            car_id = input('car_id: ')
            cus_id = input('cus_id: ')
            from_time = input("from time: ")
            to_time = input("to time: ")
            sql = "INSERT INTO reservation VALUES('{}','{}','{}','{}')".format(car_id,cus_id,from_time, to_time)
        elif what == 'timerate':
            lohour = input("lohour: ")
            hihour = input("hihour: ")
            rate = input("rate: ")
            sql = "INSERT INTO timerate VALUES(null,'{}','{}','{}')".format(lohour, hihour, rate)
        cursor.execute(sql)
    except:
        print(what,'을 확인해주세요.')
        conn.rollback()
    else:
        conn.commit()
    finally:
        cursor.close()
        conn.close()
    print(what,'에 데이터가 입력되었습니다.')

In [7]:
def delete_data(what):
    try:
        if what=='car':
            car_id = input("삭제할 데이터를 입력해주세요.: ")
            sql = "DELETE FROM car WHERE car_id = '{}'".format(car_id)
        if what=='cus_info':
            car_id = input("삭제할 데이터를 입력해주세요.: ")
            sql = "DELETE FROM cus_info WHERE cus_id = '{}'".format(car_id)
        if what=='price':
            car_id = input("삭제할 데이터를 입력해주세요.: ")
            sql = "DELETE FROM price WHERE car_id = '{}'".format(car_id)
        if what=='reservation':
            car_id = input("삭제할 데이터를 입력해주세요.: ")
            sql = "DELETE FROM reservation WHERE car_id = '{}'".format(car_id)
        if what=='timerate':
            car_id = input("삭제할 데이터를 입력해주세요.: ")
            sql = "DELETE FROM timerate WHERE range_time = '{}'".format(car_id)
        cursor.execute(sql)
        conn.commit()
        print("해당 데이터의 삭제가 완료되었습니다.")
        close()
    except:
        print(what,'을 확인해주세요.')

In [12]:
insert('car')

car type: 국산 소형
car name: 모닝
car 에 데이터가 입력되었습니다.

In [13]:
insert('car')

car type: 국산 소형
car name: 엑센트
car 에 데이터가 입력되었습니다.

In [14]:
insert('car')

car type: 국산 소형
car name: 티볼리
car 에 데이터가 입력되었습니다.

In [15]:
insert('car')

car type: 국산 중형
car name: 소나타
car 에 데이터가 입력되었습니다.

In [16]:
insert('car')

car type: 국산 중형
car name: K5
car 에 데이터가 입력되었습니다.

In [17]:
insert('car')

car type: 국산 중형
car name: 말리부
car 에 데이터가 입력되었습니다.

In [18]:
insert('car')

car type: 국산 중형
car name: SM6
car 에 데이터가 입력되었습니다.

In [19]:
insert('car')

car type: 국산 대형
car name: 그랜저
car 에 데이터가 입력되었습니다.

In [20]:
insert('car')

car type: 국산 대형
car name: K7
car 에 데이터가 입력되었습니다.

In [21]:
insert('car')

car type: 국산 대형
car name: 제네시스 G80
car 에 데이터가 입력되었습니다.

In [22]:
insert('car')

car type: 외제차
car name: 벤츠
car 에 데이터가 입력되었습니다.

In [23]:
insert('car')

car type: 외제차
car name: 포르쉐
car 에 데이터가 입력되었습니다.

In [24]:
insert('car')

car type: 외제차
car name: 람보르기니
car 에 데이터가 입력되었습니다.

In [31]:
insert('cus_info')

cus name: 김태형
gender: 남자
age: 25
cus_info 에 데이터가 입력되었습니다.

In [32]:
insert('cus_info')

cus name: 김정현
gender: 남자
age: 26
cus_info 에 데이터가 입력되었습니다.

In [33]:
insert('cus_info')

cus name: 조혜령
gender: 여자
age: 26
cus_info 에 데이터가 입력되었습니다.

In [34]:
insert('cus_info')

cus name: 황한희
gender: 남자
age: 25
cus_info 에 데이터가 입력되었습니다.

In [35]:
insert('cus_info')

cus name: 배예진
gender: 여자
age: 26
cus_info 에 데이터가 입력되었습니다.

In [36]:
insert('cus_info')

cus name: carami
gender: 여자
age: 28
cus_info 에 데이터가 입력되었습니다.

In [37]:
insert('cus_info')

cus name: 김명환
gender: 남자
age: 56
cus_info 에 데이터가 입력되었습니다.

In [38]:
insert('cus_info')

cus name: 문현규
gender: 남자
age: 56
cus_info 에 데이터가 입력되었습니다.

In [39]:
insert('cus_info')

cus name: 임수영
gender: 남자
age: 31
cus_info 에 데이터가 입력되었습니다.

In [40]:
insert('cus_info')

cus name: 권영준
gender: 남자
age: 31
cus_info 에 데이터가 입력되었습니다.

In [45]:
conn = pymysql.connect(host='localhost',user='root', password='root', db='project', port=3306, charset='utf8')
cursor = conn.cursor(pymysql.cursors.DictCursor)
query='''ALTER TABLE price DROP COLUMN car_type'''
cursor.execute(query)
cursor.close()
conn.close()

In [46]:
insert('price')

car_id: 1
price: 35360
price 에 데이터가 입력되었습니다.

In [47]:
insert('price')

car_id: 2
price: 36750
price 에 데이터가 입력되었습니다.

In [48]:
insert('price')

car_id: 3
price: 48600
price 에 데이터가 입력되었습니다.

In [49]:
insert('price')

car_id: 4
price: 48120
price 에 데이터가 입력되었습니다.

In [50]:
insert('price')

car_id: 5
price: 48470
price 에 데이터가 입력되었습니다.

In [51]:
insert('price')

car_id: 6
price: 48470
price 에 데이터가 입력되었습니다.

In [52]:
insert('price')

car_id: 7
price: 48470
price 에 데이터가 입력되었습니다.

In [53]:
insert('price')

car_id: 8
price: 63210
price 에 데이터가 입력되었습니다.

In [54]:
insert('price')

car_id: 9
price: 63210
price 에 데이터가 입력되었습니다.

In [55]:
insert('price')

car_id: 10
price: 146890
price 에 데이터가 입력되었습니다.

In [56]:
insert('price')

car_id: 11
price: 91710
price 에 데이터가 입력되었습니다.

In [57]:
insert('price')

car_id: 12
price: 236120
price 에 데이터가 입력되었습니다.

In [58]:
insert('price')

car_id: 13
price: 317520
price 에 데이터가 입력되었습니다.

In [61]:
insert('reservation')

car_id: 7
cus_id: 1
from time: 2021-04-12 16:00
to time: 2021-04-13 00:00
reservation 에 데이터가 입력되었습니다.

In [62]:
insert('reservation')

car_id: 4
cus_id: 2
from time: 2021-04-12 16:00
to time: 2021-04-12 22:00
reservation 에 데이터가 입력되었습니다.

In [64]:
insert('reservation')

car_id: 9
cus_id: 3
from time: 2021-04-12 16:00
to time: 2021-04-13 08:00
reservation 에 데이터가 입력되었습니다.

In [65]:
insert('reservation')

car_id: 11
cus_id: 4
from time: 2021-04-12 16:00
to time: 2021-04-13 16:00
reservation 에 데이터가 입력되었습니다.

In [66]:
insert('reservation')

car_id: 12
cus_id: 5
from time: 2021-04-13 08:00
to time: 2021-04-13 10:00
reservation 에 데이터가 입력되었습니다.

In [67]:
insert('reservation')

car_id: 12
cus_id: 6
from time: 2021-04-13 12:00
to time: 2021-04-13 22:00
reservation 에 데이터가 입력되었습니다.

In [68]:
insert('reservation')

car_id: 1
cus_id: 7
from time: 2021-04-13 12:00
to time: 2021-04-13 20:00
reservation 에 데이터가 입력되었습니다.

In [69]:
insert('reservation')

car_id: 10
cus_id: 8
from time: 2021-04-13 16:00
to time: 2021-04-13 20:00
reservation 에 데이터가 입력되었습니다.

In [71]:
insert('reservation')

car_id: 4
cus_id: 9
from time: 2021-04-13 13:00
to time: 2021-04-13 17:00
reservation 에 데이터가 입력되었습니다.

In [72]:
insert('reservation')

car_id: 6
cus_id: 10
from time: 2021-04-13 18:00
to time: 2021-04-13 23:00
reservation 에 데이터가 입력되었습니다.

In [76]:
insert('timerate')

lohour: 0
hihour: 1
rate: 5200
timerate 에 데이터가 입력되었습니다.

In [77]:
insert('timerate')

lohour: 1
hihour: 4
rate: 5000
timerate 에 데이터가 입력되었습니다.

In [78]:
insert('timerate')

lohour: 4
hihour: 8
rate: 4800
timerate 에 데이터가 입력되었습니다.

In [79]:
insert('timerate')

lohour: 8
hihour: 16
rate: 4500
timerate 에 데이터가 입력되었습니다.

In [80]:
insert('timerate')

lohour: 16
hihour: 24
rate: 4000
timerate 에 데이터가 입력되었습니다.

In [158]:
car_price

    car_id  car_name   price
0        1        모닝   35360
1        2       엑센트   36750
2        3       티볼리   48600
3        4       소나타   48120
4        5        K5   48470
5        6       말리부   48470
6        7       SM6   48470
7        8       그랜저   63210
8        9        K7   63210
9       10  제네시스 G80  146890
10      11        벤츠   91710
11      12       포르쉐  236120
12      13     람보르기니  317520

In [61]:
def re_check():
    what=input('예약 가능한 차량을 조회하시겠습니까?(Y/N) ')
    what=what.upper()
    try:
        conn = pymysql.connect(host='localhost',user='root', password='root', db='project', port=3306, charset='utf8')
        cursor = conn.cursor(pymysql.cursors.DictCursor)
        if what == 'Y':
            sql = '''(select c.car_id, c.car_name, c.price
from car c left join reservation r
on  c.car_id = r.car_id
where from_time is null)
union
(select c.car_id, c.car_name, c.price
from car c left join (select car_id 예약차, max(to_time) 반납시간 from reservation group by car_id) r
on  c.car_id = r.예약차
where now() > r.반납시간);'''
        elif what == 'N':
            print('이용해주셔서 감사합니다.')
        cursor.execute(sql)
        result = pd.DataFrame(cursor.fetchall())
        print(tabulate(result, headers="keys", tablefmt="psql"))
    except:
        print(what,'을 확인해주세요.')
        conn.rollback()
    else:
        conn.commit()
    finally:
        cursor.close()
        conn.close()

In [60]:
re_check()

예약 가능한 차량을 조회하시겠습니까?(Y/N) y
+----+----------+------------+---------+
|    |   car_id | car_name   |   price |
|----+----------+------------+---------|
|  0 |        2 | 엑센트     |   36750 |
|  1 |        3 | 티볼리     |   48600 |
|  2 |        5 | K5         |   48470 |
|  3 |        8 | 그랜저     |   63210 |
|  4 |       13 | 람보르기니 |  317520 |
|  5 |        7 | SM6        |   48470 |
|  6 |        9 | K7         |   63210 |
+----+----------+------------+---------+
Y 에 데이터가 입력되었습니다.

In [76]:
conn = pymysql.connect(host='localhost',user='root', password='root', db='project', port=3306, charset='utf8')
cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = '''(select * from timerate);'''
cursor.execute(sql)
timerate = pd.DataFrame(cursor.fetchall())
print(tabulate(timerate, headers="keys", tablefmt="psql"))
cursor.close()
conn.close()

+----+--------------+----------+----------+--------+
|    |   range_time |   lohour |   hihour |   rate |
|----+--------------+----------+----------+--------|
|  0 |            1 |        0 |        1 |   5200 |
|  1 |            2 |        2 |        4 |   5000 |
|  2 |            3 |        5 |        8 |   4800 |
|  3 |            4 |        9 |       16 |   4500 |
|  4 |            5 |       17 |       24 |   4000 |
+----+--------------+----------+----------+--------+

In [77]:
conn = pymysql.connect(host='localhost',user='root', password='root', db='project', port=3306, charset='utf8')
cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = '''(select car_id, car_name, price from car);'''
cursor.execute(sql)
car_price = pd.DataFrame(cursor.fetchall())
print(tabulate(car_price, headers="keys", tablefmt="psql"))
cursor.close()
conn.close()

+----+----------+--------------+---------+
|    |   car_id | car_name     |   price |
|----+----------+--------------+---------|
|  0 |        1 | 모닝         |   35360 |
|  1 |        2 | 엑센트       |   36750 |
|  2 |        3 | 티볼리       |   48600 |
|  3 |        4 | 소나타       |   48120 |
|  4 |        5 | K5           |   48470 |
|  5 |        6 | 말리부       |   48470 |
|  6 |        7 | SM6          |   48470 |
|  7 |        8 | 그랜저       |   63210 |
|  8 |        9 | K7           |   63210 |
|  9 |       10 | 제네시스 G80 |  146890 |
| 10 |       11 | 벤츠         |   91710 |
| 11 |       12 | 포르쉐       |  236120 |
| 12 |       13 | 람보르기니   |  317520 |
+----+----------+--------------+---------+

In [74]:
timerate['rate'][1]

5000

In [79]:
price=car_price['price'].tolist()
price

[35360,
 36750,
 48600,
 48120,
 48470,
 48470,
 48470,
 63210,
 63210,
 146890,
 91710,
 236120,
 317520]

In [102]:
def cal(x,y):
    if 0<=x<=1:
        rate=5200
    elif 2<=x<=4:
        rate=5000
    elif 5<=x<=8:
        rate=4800
    elif 9<=x<=16:
        rate=4500
    elif 17<=x<=24:
        rate=4000
    rate_price=rate*x
    for i in range(len(price)):
        if y==i:
            y=int(price[i-1])
    return rate_price+y

In [103]:
cal(10,12)

281120

In [153]:
def booking():
    what=input('예약하시겠습니까?(Y/N): ')
    what=what.upper()
    if what=='Y':
        CAR=int(input('예약하실 차량 id를 입력해주세요: '))
        TIME=int(input('빌릴 시간을 입력해주세요.(최대 24시간): '))
        print('예약금액은',"{:,}".format(cal(TIME, CAR)),'원 입니다.')
        NAME=input('성함을 입력해주세요. ')
        AGE=int(input('나이를 입력해주세요. '))
    else:
        print('안녕히가십시오.')   
    return CAR,TIME,NAME,AGE

In [154]:
outcome=booking()

예약하시겠습니까?(Y/N): y
예약하실 차량 id를 입력해주세요: 10
빌릴 시간을 입력해주세요.(최대 24시간): 10
예약금액은 191,890 원 입니다.
성함을 입력해주세요. 황한희
나이를 입력해주세요. 25

In [157]:
outcome[0]

10